<nav class="navbar navbar-inverse">
  <div class="container">
    <h1>
      Movie Quotes
    </h1>
  </div>

</nav>

<div class="container">
  <div class="well well-lg">
    <form #mqForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input required type="text" class="form-control" name="quote" placeholder="Quote" [(ngModel)]="formMovieQuote.quote"><br>
      </div>
      <div class="form-group">
        <input required type="text" class="form-control" name="movie" placeholder="Movie" [(ngModel)]="formMovieQuote.movie">
      </div>
      <p *ngIf="formMovieQuote.quote && formMovieQuote.movie">
        The best quote from <b>{{formMovieQuote.movie}}</b> is "<b> {{formMovieQuote.quote}}</b>".
      </p>
      <button [disabled]="!mqForm.form.valid" type="submit" class="btn btn-default pull-right">
        {{this.formMovieQuote.$key ? 'Edit' : 'Submit'}}
      </button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
<hr>
<div class="container">
  <div class="panel">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Quote</th>
          <th>Movie</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let moviequote of movieQuotesStream | async | reverse">
          <td>{{moviequote.quote}}</td>
          <td>{{moviequote.movie}}</td>
          <td>
            <button type="button" class="btn btn-success btn-xs" (click)="edit(moviequote)">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>

            <button type="button" class="btn btn-success btn-xs" (click)="delete(moviequote)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
